name: employment
description: A new Flutter application.

publish_to: 'none' # Remove this line if you wish to publish to pub.dev


version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^0.1.3
  dio: ^1.0.9
  charts_flutter: ^0.8.1
  http: ^0.12.0+4
dev_dependencies:
  flutter_test:
    sdk: flutter




flutter:

  uses-material-design: true


#  export FLUTTER_STORAGE_BASE_URL=https://mirrors.sjtug.sjtu.edu.cn/
#  expot PUB_HOSTED_URL=https://dart-pub.mirrors.sjtug.sjtu.edu.cn/